:root {
  --main-color: rgb(0, 0, 0);
  --primary-color: #b9c3cf;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--main-color);
  right: 0;
  height: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding: 30px;
}

nav .content {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
nav .image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}
nav .logo-content {
  color: rgb(190, 185, 185);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 8px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.tooltip,
.tooltip2 {
  position: absolute;
  width: 40px;
  opacity: 0;
  cursor: pointer;
  color: #fff;
}

.tooltip2 {
  width: 90px;
}
.tooltip:hover,
.tooltip2:hover {
  opacity: 1;
  transition: opacity 0.15s;
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(253, 250, 250);
}

.side-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 30px;
  width: 100px;
  color: var(--primary-color);
  padding-left: 50px;
  font-size: 12px;
}

.side-bar .fa-brands {
  padding: 6px;
}

.fa-twitter {
  color: #fff;
}
.side-bar-menu {
  top: -30px;
  position: relative;
  width: 20px;
  letter-spacing: 2px;
  white-space: nowrap;
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.side-bar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 80%;
  z-index: 100;
}
header {
  background-color: var(--main-color);
}
.container {
  padding-top: 10%;
  align-self: center;
}
.image-toast {
  margin-bottom: 80px;
}
.container .container-image {
  width: 100%;
}
.hero {
  align-self: center;
  color: #fff;
  font-style: italic;
  font-size: 60px;
}

.content-paragraph {
  color: var(--primary-color);
  line-height: 1.2;
  margin: 20px 0 50px;
  letter-spacing: 1px;

  font-size: 20px;
}
.button-content {
  margin-top: 40px;
  padding-left: 50px;
}

.view-button {
  margin-top: 0px 10px;
  padding: 15px 60px;
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  background-color: rgb(255, 52, 0);
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
  transition: opacity 0.15s;
  text-wrap: nowrap;
  white-space-collapse: collapse;
}
.view-button:hover {
  background-color: rgb(216, 94, 63);
}
.skewid {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-1 {
  display: grid;
  grid-template: 200px / 1fr 50fr;
  gap: 10px;
  margin-top: 50px;
}

.section-images {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.section-content {
  margin: 30px;
  text-align: center;
}
.section-content h2 {
  padding: 5px;
  color: rgb(224, 50, 50);
  font-style: italic;
}
.h2 {
  color: rgb(50, 68, 82);
}
.section-paragraph1 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.section-button {
  margin-top: 20px;
  border: 1px solid red;
  padding: 6px 30px;
  border-radius: 20px;
  background-color: #fff;
  font-weight: medium;
}

main {
  background-color: var(--main-color);
  margin-top: 30px;
  color: #fff;
}
main .container {
  margin-bottom: 100px;
}

.main-section {
  text-align: center;
}
.main-content {
  font-style: italic;
  font-size: 25px;
}

.main-span {
  color: #c55d1d;
  padding: 3px;
}

.image-orders {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image-card {
  width: 250px;
  height: 300px;
  position: relative;
  box-shadow: 5px 5px 20px 10px rgba(156, 145, 145, 0.15);
}

.Amount {
  background-color: grey;
  color: white;
  padding: 0 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: 600;
}

.main-overlay {
  position: absolute;
  bottom: 0;
  height: 90px;
  right: 0;
  left: 0;
  background-color: black;
}

.main-foodie,
main p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c55d1d;
}

main p {
  font-size: 12px;
  color: var(--primary-color);
  margin: 5px;
}

.image-reservation {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/098/242/original/adrien-olichon-ZgREXhl8ER0-unsplash.jpg?1695672293);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
}

.resevation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  color: #fff;
  font-style: italic;
}
.reservertion {
  color: #c55d1d;
  padding-left: 10px;
}

.card--body {
  margin: 60px;
}
.card {
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.15);
}
.testimonial {
  padding: 30px;
}
.testimonial-image {
  position: relative;
}
.testimonial-icon-container {
  width: 64px;
  height: 64px;
  background-color: red;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.testimonial-icon {
  width: 30px;
  height: 30px;
  fill: white;
}

.testimonial-quote {
  font-weight: 500;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.testimonial-image > .testimonial-icon-container {
  position: absolute;
  top: 30px;
  right: -20px;
}

.testimonial-image-container {
  width: 100%;
}
.footer-section-content,
.footer-section-content-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-section-content-2 {
  margin-top: 30px;
}

.footer-content-text {
  margin-top: 50px;
}
.footer-section-button,
.submit-button,
.footer-main-button {
  padding: 2px 60px;
  border-radius: 30px;
  border: 1px solid white;
  color: #fff;
  background-color: rgb(50, 68, 82);
  margin-top: 10px;
  cursor: pointer;
}

.footer-submit-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 60px;
}
footer {
  height: 40vh;
}
footer,
.footer-main-button {
  background-color: rgb(57, 57, 57);
  color: #fff;
}
.footer-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 50px;
}
.footer-image {
  margin-top: 40px;
}
.footer-main-text,
.footer-names-2,
.footer-main-button {
  font-size: 15px;
}

.footer-main-text {
  width: 300px;
}
.footer-names,
.footer-main-text {
  margin-top: 20px;
}

.footer-names-2,
.footer-main-button {
  cursor: pointer;
  font-weight: 400;
}

.fa-phone,
.fa-envelope,
.fa-location-pin,
.footer-main-button,
.footer-name-2 {
  margin-top: 12px;
}

.footer-main-span {
  padding: 10px;
}
.footer-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  nav .logo-content,
  nav ul li {
    font-size: 10px;
  }

  nav .content {
    margin-left: 10px;
    margin: 10px;
  }

  nav .image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  nav {
    padding: 20px;
  }

  .hero {
    font-size: 50px;
  }

  .content-paragraph {
    width: 300px;
    margin-top: 30px;
    padding-left: 0;
    font-size: 15px;
  }

  .view-button {
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 12px;
  }

  .container {
    padding: 20%;
    text-align: center;
  }

  .container-image {
    margin-top: 40px;
  }

  nav {
    padding-top: 10%;
    padding-left: 50px;
  }

  .card {
    margin-left: 50px;
  }
  .testimonial-quote {
    font-size: 22px;
  }
  section .container {
    grid-template-columns: 1fr;
  }

  .resevation-text {
    padding-top: 100px;
  }

  .footer-image {
    margin-top: 40px;
  }
  .footer-main-text,
  .footer-names-2,
  .footer-main-button {
    font-size: 10px;
  }
  .footer-main-text {
    width: 100px;
  }
  .footer-names,
  .footer-main-text {
    margin-top: 20px;
  }

  .footer-main-button {
    font-weight: 200;
  }
}
